wc\:demo {
    display: block;
    border: 1px solid #ccc;
    max-width: 100%;
    margin: 2pt 0;
}

wc\:demo-result {
    display: block;
    border-bottom: 1px dotted #aaa;
    overflow: auto;
}

wc\:demo-source {
    display: block;
    white-space: pre;
    overflow: auto;
    font-size: 11pt;
    line-height: 1.5;
    background: #eef;
    padding: 2pt 4pt;
}
