wc\:paper {
    display: block; zoom: 1;
    position: relative;
    font-color: black;
    text-align: left;
    overflow: auto;
    
    margin: 0 auto;

    -wc-border-radius: 2px;
    border-radius: 2px;

    -wc-border: ' weight=1px dashstyle=solid color=#aaa ';
    border: 1px solid #aaa;

    -wc-background: ' type=solid color=white ';
    background: white;

    -webkit-box-shadow: 3px 3px 3px #333;
    -moz-box-shadow: 3px 3px 3px #333;
    -wc-box-shadow: ' type=double opacity=.75 color=#000 color2=#333 offset=3px,3px offset2=4px,4px ';
    box-shadow: 3px 3px 3px #333;
}
