wc\:js-test {
    display: inline-block; zoom: 1;
    font-size: 9pt;
    font-family: 'Lucida Console', monospace;
    border: 1px solid #ddd;
    line-height: 1.5;
    white-space: pre;
    overflow: auto;
    max-width: 100%;
    vertical-align: top;
    background: #eee;
    margin: 2pt 0;
    position: relative;
}

wc\:js-test.passed\=true {
    background: #cfc;
    border: 1px solid #ada;
}

wc\:js-test.passed\=false {
    background: #fcc;
    border: 1px solid #c99;
}

.wc_js-test_textarea {
    display: none;
}

wc\:js-test_timeout {
    display: block;
    padding: 2pt 4pt;
    font-size: 8pt;
    background: #ffc;
    border-bottom: 1px solid #dda;
}

wc\:js-test_source {
    display: block;
}

wc\:js-test_result {
    border-top: 1px solid #dda;
    background: #ffc;
    padding: 2pt 4pt;
    display: block;
}
