wc\:lang_sgml {
	font-family: monospace;
	white-space: pre-wrap;
	line-height: 1;
}

wc\:lang_sgml-tag {
	color: #a3a;
}

wc\:lang_sgml-tag-name {
	font-weight: bold;
}

wc\:lang_sgml-attr-name {
	color: #a33;
}

wc\:lang_sgml-attr-value {
	color: #d66;
}

wc\:lang_sgml-comment {
	color: #888;
}

wc\:lang_sgml-decl {
	color: #066;
}

wc\:lang_sgml-subLang {
	opacity: .75;
}
