[my_register_field] {
	display: flex;
	flex-wrap: wrap;
}

[my_register_field_titler] {
	flex: 100 100 100%;
}
[my_register_field_titler]:after {
	content: ':';
}

[my_register_field_stringer] {
	flex: 100 100 5em;
	background: white;
}
