/* @import url( '../../doc/disqus/disqus.css' ); */
#disqus_thread {
    margin: 0 !important;
}

#dsq-content h3 {
    display: none;
}

#dsq-global-toolbar {
    display: none;
}

#dsq-footer {
    margin: 0 -10px 0 0 !important;
}

#dsq-sort-by {
    display: none;
}

.dsq-textarea-reply {
    margin-bottom: 0 !important;
}

#dsq-pagination {
    float: right;
    font-size: 14px;
}

#dsq-pagination em {
    text-decoration: none;
    vertical-align: bottom;
}

#dsq-pagination a:hover em {
    text-decoration: underline;
}

.dsq-comment-header  {
    float: left;
    margin-right: 10px !important;
}

.dsq-comment-footer {
    display: none;
}

.dsq-collapse-toggle {
    display: none !important;
}

.dsq-comment-message {
    clear: both;
}

/* @import url( '../../html/a/html-a.css' ); */
a {
    text-decoration: none; text-decoration: inherit;
    color: #66f;
    cursor: pointer;
}

a:visited {
    color: #669;
}

a:hover {
    color: #66f;
    text-decoration: underline;
}

a.reset\=true,
a.reset\=true:visited,
a.reset\=true:hover {
    text-decoration: none; text-decoration: inherit;
    color: none; color: inherit; $color: black;
}

/* @import url( '../../html/body/html-body.css' ); */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* @import url( '../../html/code/html-code.css' ); */
code {
    display: inline-block; zoom: 1;
    font-family: monospace;
    font-size: 12pt;
    line-height: 1;
    white-space: pre-wrap;
    position: relative;

    -wc-background: ' type=solid color=black opacity=.05 ';
    background: rgba( 0, 0, 0, .05 );
}

code.reset\=true {
    display: inline;
    font: inherit;
    white-space: inherit;
    position: static;

    background: none;
}

/* @import url( '../../html/em/html-em.css' ); */
em {
    font-style: italic;
}
em.reset\=true {
    font-style: normal; font-style: inherit;
}

/* @import url( '../../html/h/html-h1.css' ); */
h1 {
    font: 48px/1.2 'Times New Roman', serif;
    margin: 40px 0 20px;
    text-align: center;
}

h1.reset\=true {
    font: inherit;
    margin: 0;
    text-align: inherit;
}

/* @import url( '../../html/h/html-h2.css' ); */
h2 {
    font: 40px/1.2 'Times New Roman', serif;
    margin: 40px 0 20px;
    text-align: center;
}

h2.reset\=true {
    font: inherit;
    margin: 0;
    text-align: inherit;
}

/* @import url( '../../html/h/html-h3.css' ); */
h3 {
    font: 32px/1.2 'Times New Roman', serif;
    margin: 40px 0 20px;
    text-align: center;
}

h3.reset\=true {
    font: inherit;
    margin: 0;
    text-align: inherit;
}

/* @import url( '../../html/h/html-h4.css' ); */
h4 {
    font: 26px/1.2 'Times New Roman', serif;
    margin: 40px 0 20px;
}

h4.reset\=true {
    font: inherit;
    margin: 0;
}

/* @import url( '../../html/h/html-h5.css' ); */
h5 {
    font: bold 20px/1.2 'Times New Roman', serif;
    margin: 40px 0 20px;
}

h5.reset\=true {
    font: inherit;
    margin: 0;
}

/* @import url( '../../html/h/html-h6.css' ); */
h6 {
    font: bold 16px/1.2 'Times New Roman', serif;
    margin: 40px 0 20px;
}

h6.reset\=true {
    font: inherit;
    margin: 0;
}

/* @import url( '../../html/html/html.css' ); */
html {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    font: 14pt/1.5 'Georgia', serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-y: scroll;
}

/* @import url( '../../html/label/html-label.css' ); */
label {
    display: block;
    margin: 1em 0;
    clear: both;
}

label.reset\=true {
    display: inline;
    margin: 0;
    clear: none;
}

/* @import url( '../../html/p/html-p.css' ); */
p {
    margin: 20px 0;
    text-align: left;
}

p.reset\=true {
    margin: 0;
}

/* @import url( '../../html/root/html_root.css' ); */
html {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    font: 14pt/1.5 'Georgia', serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-y: scroll;
}

/* @import url( '../../html/strong/html-strong.css' ); */
strong {
    font-weight: bold;
}
strong.reset\=true {
    font-weight: normal; font-weight: inherit;
}

/* @import url( '../../wc/binom/wc-binom-center.css' ); */
wc\:binom-center {
    text-align: center;
    display: block;
    float: left;
    width: 100%;
}

/* @import url( '../../wc/binom/wc-binom-left.css' ); */
wc\:binom-left {
    display: table-cell;
    padding-right: 5%;
    border-right: 1px solid gray;
    margin-right: -1px;
    text-align: left;
}

/* @import url( '../../wc/binom/wc-binom-right.css' ); */
wc\:binom-right {
    display: table-cell;
    padding-left: 5%;
    border-left: 1px solid gray;
    text-align: left;
}

/* @import url( '../../wc/binom/wc-binom.css' ); */
wc\:binom {
    display: table;
    border-collapse: collapse;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* @import url( '../../wc/button/wc-button.css' ); */
wc\:button {
    display: inline-block; zoom: 1;
    position: relative;
    $padding: .1em;
}

wc\:button button {
    white-space: normal;
    cursor: pointer;
    $width: 1%;
    overflow: visible;
    z-index: 0;
    text-align: center;
    display: block;

    position: relative;
    top: -1px;

    padding: .2em .4em;
    $padding: .1em .2em;

    font-size: 14px;
    line-height: 1.2;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -wc-css3_border: ' weight=1px dashstyle=solid color=#aaa ';
    border: 1px solid #aaa;

    -moz-border-radius: 4px;
    -wc-css3_border-radius: 3px;
    border-radius: 3px;

    -wc-css3_background: ' type=gradient angle=180 color=#eee color2=#ccc ';
    background: -o-linear-gradient( -90deg, #eee, #ccc );
    background: -moz-linear-gradient( -90deg, #eee, #ccc );
    background: -webkit-gradient( linear, left top, left bottom, from( #eee ), to( #ccc ) );
    
    -webkit-background-clip: padding-box;

    -webkit-box-shadow: 1px 1px 1px #000;
    -moz-box-shadow: 1px 1px 1px #000;
    -wc-css3_box-shadow: ' type=single color=#000 offset=1px,1px ';
    box-shadow: 1px 1px 1px #000;
}

wc\:button button:hover {
    -wc-css3_background: ' type=gradient angle=180 color=#fff color2=#bbb ';
    background: -o-linear-gradient( -90deg, #fff, #bbb );
    background: -moz-linear-gradient( -90deg, #fff, #bbb );
    background: -webkit-gradient( linear, left top, left bottom, from( #fff ), to( #bbb ) );

    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 1px #000;
    -wc-css3_box-shadow: ' type=single color=#000 offset=2px,2px ';
    box-shadow: 2px 2px 2px #000;
}

wc\:button button:active {
    -webkit-box-shadow: 1px 1px 1px #000;
    -moz-box-shadow: 1px 1px 1px #000;
    -wc-css3_box-shadow: ' type=single color=#000 offset=1px,1px ';
    box-shadow: 1px 1px 1px #000;
}

/* @import url( '../../vml/vml/vml.css' ); */
vml\:shape,
vml\:shapetype,
vml\:group,
vml\:vmlframe,
vml\:background,
vml\:line,
vml\:polyline,
vml\:curve,
vml\:rect,
vml\:roundrect,
vml\:oval,
vml\:arc,
vml\:image,
vml\:path,
vml\:formulas,
vml\:handles,
vml\:f,
vml\:fill,
vml\:stroke,
vml\:shadow,
vml\:skew,
vml\:imagedata,
vml\:textbox,
vml\:textpath,
vml\:extrusion {
    behavior: url(#default#VML);
}

/* @import url( '../../wc/demo/wc-demo.css' ); */
wc\:demo {
    display: block;
    border: 1px solid #ccc;
    max-width: 100%;
    margin: 2pt 0;
}

wc\:demo_result {
    display: block;
    border-bottom: 1px dotted #aaa;
    overflow: auto;
}

wc\:demo_source {
    display: block;
    white-space: pre;
    overflow: auto;
    font-size: 11pt;
    line-height: 1.5;
    background: #eef;
}

/* @import url( '../../wc/desktop/wc-desktop.css' ); */
wc\:desktop {
    display: block; zoom: 1;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: url( '../../wc/desktop/wc-desktop_light.png' ) left top no-repeat #ccc;
}

/* @import url( '../../wc/editor/wc-editor.css' ); */
wc\:editor {
    display: block;
}

.wc_editor_content {
    padding: 2pt 4pt;
    display: block;
}

.wc_editor_content:focus {
    outline: 1px dotted gray;
}

/* @import url( '../../wc/footer/wc-footer.css' ); */
wc\:footer {
    width: 100%;
    display: block;
    overflow: hidden;
    border-top: 1px solid #999;
    padding: .1em 0;
    font-size: 10pt;
    text-align: center;
    clear: both;
}

/* @import url( '../../wc/hlight/wc-hlight.css' ); */
wc\:hlight {
    display: inline-block; zoom: 1;
}

/* @import url( '../../wc/hontrol/wc_hontrol.css' ); */
wc\:hontrol {
    display: block;
    position: absolute;
    right: 0;
    bottom: -10pt;
    font-size: 8pt;
    line-height: 1;
    z-index: 1;
}

wc\:hontrol_clone {
    margin-right: -1px;
    border: 1px solid #bbb;
    background: #ffe;
    padding: 1pt 2pt;
    cursor: pointer;
}

wc\:hontrol_clone:hover {
    background: #ccf;
    border: 1px solid #99c;
}

wc\:hontrol_delete {
    margin-right: -1px;
    border: 1px solid #bbb;
    background: #ffe;
    padding: 1pt 2pt;
    cursor: pointer;
}

wc\:hontrol_delete:hover {
    background: #fcc;
    border: 1px solid #c99;
}


/* @import url( '../../wc/js-bench/wc_js-bench.css' ); */
wc\:js-bench_list {
    font-size: 10pt;
    line-height: 1.2;
    display: inline-table;
    vertical-align: top;
    border-collapse: collapse;
    margin: 2pt 0;
}

wc\:js-bench_header {
    display: table-row;
    cursor: pointer;
}

wc\:js-bench {
    display: table-row;
}

wc\:js-bench_column {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #666;
    display: table-cell;
    padding: 0 4pt;
}

wc\:js-bench_runner {
    text-align: right;
    display: table-cell;
    color: #060;
}
wc\:js-bench_header:hover wc\:js-bench_runner {
    color: #090;
}
wc\:js-bench_header:active wc\:js-bench_runner {
    color: #000;
}

wc\:js-bench_source {
    display: table-cell;
    background-color: #eee;
    border: 1px solid #999;
    text-align: left;
}

wc\:js-bench_result {
    border: 1px solid #999;
    padding: 2pt 4pt;
    text-align: right;
    font-family: monospace;
    display: table-cell;
    vertical-align: top;
}

wc\:js-bench_result.source\=inner {
    background-color: #dfd;
    font-weight: bold;
}

wc\:js-bench_result.source\=outer {
    background-color: #edf;
}

wc\:js-bench.wait\=true wc\:js-bench_result {
    background-color: #eee;
}


/* @import url( '../../wc/lang_pcre/wc-lang_pcre.css' ); */
wc\:lang_pcre {
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1;
}

wc\:lang_pcre-backslash {
    color: #aaa;
}

wc\:lang_pcre-spec {
    color: red;
}

wc\:lang_pcre-control {
    font-weight: bold;
    color: #c33;
}

/* @import url( '../../wc/lang_js/wc+lang_js.css' ); */
wc\:lang_js {
    font-family: monospace;
    white-space: pre;
}

wc\:lang_js-remark {
    color: #bbb;
    white-space: pre;
}

wc\:lang_js-string {
    color: #393;
    white-space: pre;
}

wc\:lang_js-internal {
    color: #333;
}

wc\:lang_js-external {
    font-weight: bold;
}

wc\:lang_js-keyword {
    color: #339;
    font-weight: bold;
}

wc\:lang_js-number {
    color: #c30;
    white-space: pre;
}

wc\:lang_js-regexp {
    color: #939;
    white-space: pre;
}

wc\:lang_js-bracket {
    font-weight: bold;
    white-space: pre;
}

wc\:lang_js-operator {
    font-weight: bold;
    color: #066;
    white-space: pre;
}

/* @import url( '../../wc/js-test/wc_js-test.css' ); */
wc\:js-test {
    display: inline-block; zoom: 1;
    font-size: 9pt;
    font-family: 'Lucida Console', monospace;
    border: 1px solid #ddd;
    line-height: 1.5;
    white-space: pre;
    max-width: 100%;
    vertical-align: top;
    background: #eee;
    margin: 2pt 0;
    position: relative;
    text-align: left;
}

wc\:js-test.passed\=true {
    background: #cfc;
    border: 1px solid #ada;
}

wc\:js-test.passed\=false {
    background: #fcc;
    border: 1px solid #c99;
}

.wc_js-test_textarea {
    display: none;
}

wc\:js-test_timeout {
    display: block;
    padding: 2pt 4pt;
    font-size: 8pt;
    background: #ffc;
    border-bottom: 1px solid #dda;
}

wc\:js-test_source {
    display: block;
    overflow: auto;
}

wc\:js-test_result {
    border-top: 1px solid #dda;
    background: #ffc;
    padding: 2pt 4pt;
    display: block;
}

wc\:js-test wc\:hontrol {
    display: none;
}

wc\:js-test:hover wc\:hontrol {
    display: block;
}

/* @import url( '../../wc/lang_css/wc+lang_css.css' ); */
wc\:lang_css {
    font-family: monospace;
    white-space: pre-wrap;
}

wc\:lang_css-remark {
    color: #bbb;
    white-space: pre-wrap;
}

wc\:lang_css-selector {
}

wc\:lang_css-tag {
    color: #a3a;
    font-weight: bold;
    white-space: pre;
}

wc\:lang_css-id {
    color: red;
    white-space: pre;
}

wc\:lang_css-class {
    color: #d66;
    font-weight: bold;
    white-space: pre;
}

wc\:lang_css-pseudo {
    color: #399;
    white-space: pre;
}

wc\:lang_css-string {
    color: #393;
    white-space: pre-wrap;
}

wc\:lang_css-bracket {
    color: #333;
    font-weight: bold;
    white-space: pre;
}

wc\:lang_css-property {
    color: #339;
    font-weight: bold;
    white-space: pre;
}

wc\:lang_css-value {
    color: black;
    white-space: pre-wrap;
}

/* @import url( '../../wc/lang_md/wc+lang_md.css' ); */
wc\:lang_md {
    white-space: pre-wrap;
    line-height: 1.5;
}

wc\:lang_md-link {
    color: blue;
    font-family: monospace;
    display: inline-block;
    display: inline\9; /*ie*/
}

wc\:lang_md-link-title {
    font-family: serif;
}

wc\:lang_md-link-href {
    font-size: 13pt;
    color: #666;
    display: none;
}

.wc_editor_content:focus wc\:lang_md-link-href {
    display: inline;
}

wc\:lang_md-link-marker {
    display: none;
}
.wc_editor_content:focus wc\:lang_md-link-marker {
    display: inline;
}

wc\:lang_md-author {
    color: #006;
}

wc\:lang_md-indent {
    font-family: monospace;
    float: left;
    float: none\9; /*ie*/
}

wc\:lang_md-para {
    font-family: 'Times', serif;
    adisplay: block;
    overflow: hidden;
    overflow: visible\9; /*ie*/
    display: inline\9; /*ie*/
}

wc\:lang_md-header-6 {
	color: #339;
	font-size: 18pt;
    font-family: serif;
}

wc\:lang_md-header-5 {
	color: #339;
	font-size: 22pt;
    font-family: serif;
}

wc\:lang_md-header-4 {
	color: #339;
	font-size: 26pt;
    font-family: serif;
}

wc\:lang_md-header-3 {
	color: #339;
	font-size: 30pt;
    font-family: serif;
}

wc\:lang_md-header-2 {
	color: #339;
	font-size: 34pt;
    font-family: serif;
}

wc\:lang_md-header-1 {
	color: #339;
	font-size: 38pt;
    font-family: serif;
}

wc\:lang_md-header-marker {
    font-size: 14pt;
    display: none;
    font-family: monospace;
    color: #666;
}

.wc_editor_content:focus wc\:lang_md-header-marker {
    display: inline;
}

wc\:lang_md-quote {
    color: green;
    display: block;
}

wc\:lang_md-quote-marker {
    color: #060;
}

wc\:lang_md-quote-inline {
    color: green;
}

wc\:lang_md-quote-inline-open {
    color: #060;
    content: '«';
}
wc\:lang_md-quote-inline-close {
    color: #060;
    content: '»';
}

wc\:lang_md-dash {
    content: ' – ';
}

wc\:lang_md-table {
    display: table;
    border-collapse: collapse;
    empty-cells: show;
    ~border: 1px solid gray;
}

wc\:lang_md-table-row {
    display: table-row;
}

wc\:lang_md-table-row-sep {
    display: none;
}

.wc_editor_content:focus wc\:lang_md-table-row-sep {
    display: table-row;
}

wc\:lang_md-table-cell {
    display: table-cell;
    padding-right: 1em;
}

wc\:lang_md-table-marker {
    font-size: 14pt;
    visibility: hidden;
    font-family: monospace;
}

.wc_editor_content:focus wc\:lang_md-table-marker {
    visibility: visible;
}

wc\:lang_md-code {
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1;
    font-size: 12pt;
}

wc\:lang_md-code-marker {
}

wc\:lang_md-code-lang {
}

wc\:lang_md-code-content {
}

wc\:lang_md-emphasis {
    font-style: italic;
}

wc\:lang_md-emphasis-marker {
    color: #999;
    font-family: monospace;
    font-size: 12pt;
    display: none;
}
.wc_editor_content:focus wc\:lang_md-emphasis-marker {
    display: inline;
}

wc\:lang_md-strong {
    font-weight: bold;
}

wc\:lang_md-strong-marker {
    color: #999;
    font-family: monospace;
    font-size: 12pt;
    display: none;
}
.wc_editor_content:focus wc\:lang_md-strong-marker {
    display: inline;
}

wc\:lang_md-remark {
    color: #666;
}


/* @import url( '../../wc/lang_sgml/wc+lang_sgml.css' ); */
wc\:lang_sgml {
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1;
}

wc\:lang_sgml-tag {
    color: #a3a;
}

wc\:lang_sgml-tag-name {
    font-weight: bold;
}

wc\:lang_sgml-attr-name {
    color: #a33;
}

wc\:lang_sgml-attr-value {
    color: #d66;
}

wc\:lang_sgml-comment {
    color: #888;
}

wc\:lang_sgml-decl {
    color: #066;
}

wc\:lang_sgml-comment {
    color: #999;
}

/* @import url( '../../wc/paper/wc-paper.css' ); */
wc\:paper {
    display: block; zoom: 1;
    position: relative;
    font-color: black;
    text-align: left;
    overflow: auto;
    
    margin: 0 auto;

    -wc-css3_border-radius: 2px;
    border-radius: 2px;

    -wc-css3_border: ' weight=1px dashstyle=solid color=#aaa ';
    border: 1px solid #aaa;

    -wc-css3_background: ' type=solid color=white ';
    background: white;

    -webkit-box-shadow: 3px 3px 3px #333;
    -moz-box-shadow: 3px 3px 3px #333;
    -wc-css3_box-shadow: ' type=double opacity=.75 color=#000 color2=#333 offset=3px,3px offset2=4px,4px ';
    box-shadow: 3px 3px 3px #333;
}

/* @import url( '../../wc/preview/wc_preview.css' ); */
wc\:preview {
	display: block;
}

wc\:preview a {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px dotted blue;
	line-height: 1;
}

wc\:preview a:hover {
	text-decoration: none;
	border-color: red;
}

wc\:preview iframe {
	display: block;
	width: 100%;
	min-height: 300px;
	height: 100%;
	margin-top: .4em;
}

wc\:preview.opened\=false iframe {
	display: none;
}
/* @import url( '../../wc/sidebar/wc-sidebar.css' ); */
wc\:sidebar {
    position: relative;
    z-index: 1;
    padding: 2%;
}

wc\:sidebar.align\=left {
    float: left;
}

wc\:sidebar.align\=right {
    float: right;
}

/* @import url( '../../wc/spacer/wc-spacer.css' ); */
wc\:spacer {
    display: block;
    margin: 9% 10%;
    padding: 10px;
    zoom: 1;
    position: relative;
    width: auto;
}

/* @import url( '../../wc/vmenu/wc-vmenu.css' ); */
wc\:vmenu-root {
    font-size: 12pt;
}

wc\:vmenu-branch {
    display: block;
    margin: .5em 0;
}

wc\:vmenu-leaf {
    display: block;
    padding: 0 .5em;
    white-space: nowrap;
    text-align: left;
}

a:hover wc\:vmenu-leaf {
    background: white;
}

a.reset\=true.target\=true wc\:vmenu-leaf {
    color: red;
}

/* @import url( '../../snippet/snippet/snippet.css' ); */
snippet\:link {
    text-align: center;
    display: block;
}

snippet\:descr {
    white-space: pre-line;
    font-size: 8pt;
    text-align: left;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 1;
}

