code {
    display: inline-block; zoom: 1;
    font-family: monospace;
    font-size: 12pt;
    line-height: 1;
    white-space: pre-wrap;
    position: relative;

    -wc-background: ' type=solid color=black opacity=.05 ';
    background: rgba( 0, 0, 0, .05 );
}

code.reset\=true {
    display: inline;
    font: inherit;
    white-space: inherit;
    position: static;

    background: none;
}
