[my_register] {
	height: auto;
	margin: auto;
	flex-wrap: wrap;
	background: snow;
	box-shadow: 0 0 1vmin;
	padding: 2vmin;
	max-width: 100%;
	box-sizing: border-box;
}

[my_register] > * {
	flex: 1 1 6em;
	max-width: 100%;
}

[my_register] > * > * {
	margin: .5em;
}
