wc\:test-js {
    display: inline-block; zoom: 1;
    font-size: 9pt;
    font-family: 'Lucida Console', monospace;
    border: 1px solid #ddd;
    line-height: 1.5;
    white-space: pre;
    overflow: auto;
    max-width: 100%;
    vertical-align: top;
    background: #eee;
    margin: 2pt 0;
}

wc\:test-js.passed\=true {
    background: #cfc;
    border: 1px solid #ada;
}

wc\:test-js.passed\=false {
    background: #fcc;
    border: 1px solid #c99;
}

wc\:test-js_source {
    display: block;
    padding: 2pt 4pt;
}

wc\:test-js_result {
    border-top: 1px solid #dda;
    background: #ffc;
    padding: 2pt 4pt;
    display: block;
}
