/* @import url( '../../lang/text/wc+lang_text.css' ); */
lang\:text:after {
    display: inline;
    content: attr( title );
}

lang\:text_hidden {
    display: inline-block;
    display: none\9;
    width: 1px;
    overflow: hidden;
    white-space: pre;
}
/* @import url( '../../lang/pcre/lang_pcre.css' ); */
lang\:pcre {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    line-height: 1;
}

lang\:pcre_backslash {
    color: #aaa;
}

lang\:pcre_spec {
    color: red;
}

lang\:pcre_control {
    font-weight: bold;
    color: #c33;
}

/* @import url( '../../lang/js/lang_js.css' ); */
lang\:js {
    font-family: 'Courier New', monospace;
    white-space: pre;
}

lang\:js_remark {
    color: #999;
    white-space: pre;
}

lang\:js_string {
    color: #393;
    white-space: pre;
}

lang\:js_internal {
    color: #333;
}

lang\:js_external {
    font-weight: bold;
}

lang\:js_keyword {
    color: #339;
    font-weight: bold;
}

lang\:js_number {
    color: #c30;
    white-space: pre;
}

lang\:js_regexp {
    color: #939;
    white-space: pre;
}

lang\:js_bracket {
    font-weight: bold;
    color: #666;
    white-space: pre;
}

lang\:js_operator {
    font-weight: bold;
    color: #066;
    white-space: pre;
}

/* @import url( '../../wc/js-test/wc_js-test.css' ); */
wc\:js-test {
    display: inline-block; zoom: 1;
    font-size: 9pt;
    font-family: 'Courier New', monospace;
    border: 1px solid #ddd;
    line-height: 1.5;
    white-space: pre;
    max-width: 100%;
    vertical-align: top;
    background: #eee;
    margin: 2pt 0;
    position: relative;
    text-align: left;
}

wc\:js-test.passed\=true {
    background: #cfc;
    border: 1px solid #ada;
}

wc\:js-test.passed\=false {
    background: #fcc;
    border: 1px solid #c99;
}

.wc_js-test_textarea {
    display: none;
}

wc\:js-test_timeout {
    display: block;
    padding: 2pt 4pt;
    font-size: 8pt;
    background: #ffc;
    border-bottom: 1px solid #dda;
}

wc\:js-test_source {
    display: block;
    overflow: auto;
}

wc\:js-test_result {
    border-top: 1px solid #dda;
    background: #ffc;
    padding: 2pt 4pt;
    display: block;
}

wc\:js-test wc\:hontrol {
    display: none;
}

wc\:js-test:hover wc\:hontrol {
    display: block;
}

/* @import url( '../../wc/js-bench/wc_js-bench.css' ); */
wc\:js-bench_list {
    font-size: 10pt;
    line-height: 1.2;
    display: inline-table;
    vertical-align: top;
    border-collapse: collapse;
    margin: 2pt 0;
}

wc\:js-bench_header {
    display: table-row;
    cursor: pointer;
}

wc\:js-bench {
    display: table-row;
}

wc\:js-bench_column {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #666;
    display: table-cell;
    padding: 0 4pt;
}

wc\:js-bench_runner {
    text-align: right;
    display: table-cell;
    color: #060;
}
wc\:js-bench_header:hover wc\:js-bench_runner {
    color: #090;
}
wc\:js-bench_header:active wc\:js-bench_runner {
    color: #000;
}

wc\:js-bench_source {
    display: table-cell;
    background-color: #eee;
    border: 1px solid #999;
    text-align: left;
}

wc\:js-bench_result {
    border: 1px solid #999;
    padding: 2pt 4pt;
    text-align: right;
    font-family: 'Courier New', monospace;
    display: table-cell;
    vertical-align: top;
}

wc\:js-bench_result.source\=inner {
    background-color: #dfd;
    font-weight: bold;
}

wc\:js-bench_result.source\=outer {
    background-color: #edf;
}

wc\:js-bench.wait\=true wc\:js-bench_result {
    background-color: #eee;
}


