/* ../../jin/sample/jin_sample.css?=HRKKZP2O */
[jin-sample-list] {
    display: none
}
/* ../../jin/slide/jin-slide.css?=HRS7K4KW */
[jin-slide] {
    font: 1em/1.25 'Cambria', serif;
	color: black;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #ddd;
}

@-webkit-keyframes jin-slide-page
{
	from {
		-webkit-transform: translateY( -10% );
	}
}

@keyframes jin-slide-page
{
	from {
		transform: translateY( -10% );
	}
}

[jin-slide-page] {
	background: white;
	box-shadow: 0 0 6px rgba( 0, 0, 0, .5 );
	padding: .5em 1em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	-webkit-animation: jin-slide-page .25s;
	animation: jin-slide-page .25s;
	position: relative;
	-webkit-transform: translateY( 1% );
	transform: translateY( 1% );
}

[jin-slide-show-header] {
	/*background: yellow;*/
	display: flex;
	justify-content: center;
	flex-shrink: 0;
}

[jin-slide-show-content] {
	/*background: pink;*/
	display: flex;
	justify-content: center;
}

[jin-slide-page] h {
	/*background: lime;*/
	text-align: center;
	font-size: 2em;
	display: inline-block;
	overflow: hidden;
	font-weight: normal;
	padding: .25em;
	margin: 0;
}

[jin-slide-page] pre {
	margin: 0;
	padding: .5em;
}

[jin-slide-page] ol {
	list-style-position: inside;
}

[jin-slide-page] ul {
	list-style: none;
	margin: 0;
	padding: .5em;
}

[jin-slide-page] a {
	text-decoration: none;
	color: steelblue;
}

[jin-slide-page] a:hover {
	text-decoration: underline;
}

[jin-slide-show-figure] {
	margin: .5em;
}

[jin-slide-show-figure-descr] {
	text-align: center;
}

[jin-slide-row] {
	display: flex;
	justify-content: center;
	flex-flow: row;
	padding: .5em;
	margin: 0;
}

[jin-slide-col] {
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	padding: .5em;
	margin: 0;
}

