a {
	color: inherit;
	text-decoration: none;
}

[harp_response] {
	font: 12pt/1.5 monospace;
	align-items: flex-start;
}

[harp_resource] {
	margin: 1vmin;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

[harp_resource_uri] {
	font-weight: bold;
	font-family: sans-serif;
}

[harp_resource_type] {
	opacity: .75;
}

[harp_field] {
	padding: 0 1vmin;
}

[harp_field_invalid] {
	color: red;
}

[harp_field_name] {
	opacity: .75;
}

[harp_field_value] {
	border: none;
	background: none;
}

[harp_field_value][href] {
	color: steelblue;
}

[harp_space] {
	white-space: pre;
	color: lightsteelblue;
}

[harp_indent] {
	white-space: pre;
	font-size: 50%;
}
