/* ../../jin/sample/jin_sample.css?=HQ7W9YK0 */
[jin-sample-list] {
    display: none
}
/* ../../jin/todo/intro/jin_todo_intro.css?=HQAK82JS */
[jin-todo-intro] {
    background: #fcfcfc;
    width: 100%;
    height: 100%;
    display: -moz-flex;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
}

[jin-todo-intro-title] {
    font: 21px/27px 'Segoe UI', sans-serif;
    padding: 2% 3%;
    border-radius: 2px;
    /*margin: 2%;*/
	position: relative;
}

[jin-todo-intro-description] {
    font: 15px/25px 'Segoe UI', sans-serif;
    padding: 2% 3%;
    margin-top: -2%;
    /*margin: 2%;*/
    position: relative;
    overflow: auto;
    -moz-flex: 1;
    flex: 1;
}

/* ../../jin/todo/noitems/jin_todo_noitems.css?=HQC6L9AO */
[jin-todo-noitems] {
    padding: 1.5%;
    color: gray;
    font-style: italic;
	background: #fcfcfc;
	position: relative;
}

/* ../../jin/task/view/details/jin_task_view_details.css?=HQAIW25K */
[jin-task-view-details] {
    /*padding: 2% 2%;*/
    background: #fcfcfc;
    min-height: 1em;
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    display: -moz-flex;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
}

[jin-task-view-details-title] {
    font: 21px/27px 'Segoe UI', sans-serif;
    padding: 2% 3%;
    border-radius: 2px;
    /*margin: 2%;*/
	position: relative;
}

[jin-task-view-details-title]:empty:before {
    color: gray;
    font-style: italic;
    content: 'empty title';
    position: absolute;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 94%;
}

[jin-task-view-details-title]:empty:after {
    content: '\A0';
    width: 0;
    display: inline-block;
}

[jin-task-view-details-title]:focus {
    outline: none;
    position: relative;
    box-shadow: 0 0 4px steelblue;
    background: white;
}

[jin-task-view-details-description] {
    font: 15px/25px 'Segoe UI', sans-serif;
    padding: 2% 3%;
    margin-top: -2%;
    /*margin: 2%;*/
    position: relative;
    overflow: auto;
    -moz-flex: 1;
    flex: 1;
}

[jin-task-view-details-description]:empty:before {
    color: gray;
    font-style: italic;
    content: 'empty description';
    position: absolute;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 94%;
}

[jin-task-view-details-description]:empty:after {
    content: '\A0';
    width: 0;
    display: inline-block;
}

[jin-task-view-details-description]:focus {
    outline: none;
    position: relative;
    box-shadow: 0 0 4px steelblue;
    background: white;
}

[jin-task-view-details-description][visible="false"] {
    display: none;
}

/* ../../jin/task/view/item/jin_task_view_item.css?=HQNH1YAW */
[jin-task-view-item] {
    display: block;
    background: #fcfcfc;
    font: 15px/1 'Segoe UI', sans-serif;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

[jin-task-view-item]:nth-child(even) {
    background: #f6f6f6;
}

[jin-task-view-item]:hover {
    background: #def;
}

[jin-task-view-item][jin-task-view-item-current="true"] {
    background: steelblue;
    color: snow;
}

[jin-task-view-item-link] {
    color: inherit;
    text-decoration: inherit;
    display: block;
}
[jin-task-view-item-link]:focus {
    outline: none;
}

[jin-task-view-item-title] {
    display: block;
    padding: 1.5%;
    position: relative;
    min-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

[jin-task-view-item-title]:empty:before {
    color: gray;
    font-style: italic;
    content: attr( jin-task-view-item-title-default );
    position: absolute;
}

[jin-task-view-item][jin-task-view-item-current="true"] [jin-task-view-item-title]:empty:before {
    color: inherit;
}

[jin-task-view-item-dropper] {
	padding: 1.5% 1.5%;
	float: right;
	display: none;
}

[jin-task-view-item-dropper]:hover {
	background: lightsteelblue;
}

[jin-task-view-item]:hover [jin-task-view-item-dropper] {
	display: block;
}

/* ../../jin/todo/view/jin_todo_vew.css?=HQAJCQGO */
[jin-todo-view] {
    background: #ccc /*url("../view/http:/hyoo.ru/wc/desktop/wc-desktop_light.png") left top no-repeat*/;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: 1%;*/
	padding: 2%;
    width: 100%;
    height: 100%;
    display: -moz-flex;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: stretch;
    align-items: stretch;
    -moz-align-content: flex-start;
    align-content: flex-start;
}

[jin-todo-view-title] {
    text-align: center;
    font: 24px/1 'Segoe UI', sans-serif;
    margin: 2% 2%;
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
}

[jin-todo-view-resizer] {
	padding: 1%;
	cursor: ns-resize;
}

[jin-todo-view-panel] {
	height: 100%;
	width: 100%;
	background: #fcfcfc;
    box-shadow: 0 0 6px rgba( 0, 0, 0, .5 );
    display: -moz-flex;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
	position: relative;
}

[jin-todo-view-toolbar] {
	position: absolute;
	margin-top: -1.6em;
    font: 15px/1 'Segoe UI Semibold', 'Segoe UI', sans-serif;
	width: 100%;
	display: -moz-flex;
	display: flex;
	-moz-justify-content: center;
	justify-content: center;
}

[jin-todo-view-create],
[jin-todo-view-clear] {
	margin: 1.5em .25em 0;
	cursor: pointer;
	padding: .25em .5em;
    box-shadow: 0 0 3px rgba( 0, 0, 0, .5 );
	background: snow;
	transition: margin-top .2s .2s;
	border-bottom: 1px solid #ccc;
}

[jin-todo-view-create]:hover,
[jin-todo-view-clear]:hover {
	background: white;
    box-shadow: 0 0 6px rgba( 0, 0, 0, .5 );
}

[jin-todo-view-toolbar]:hover [jin-todo-view-create],
[jin-todo-view-toolbar]:hover [jin-todo-view-clear] {
	margin-top: 0;
	transition: margin-top .1s .1s;
}

[jin-todo-view-list-pane] {
	height: 100%;
	width: 100%;
	overflow: auto;
}

@media ( min-width: 40em ) {
	
	[jin-todo-view] {
		-moz-flex-direction: row;
		flex-direction: row;
	}
	
	[jin-todo-view-resizer] {
		cursor: ew-resize;
	}

}

