a {
    text-decoration: none; text-decoration: inherit;
    color: #66f;
    cursor: pointer;
}

a:visited {
    color: #669;
}

a:hover {
    color: #66f;
    text-decoration: underline;
}

a.reset\=true,
a.reset\=true:visited,
a.reset\=true:hover {
    text-decoration: none; text-decoration: inherit;
    color: none; color: inherit; $color: black;
}
