[mol_view_error="fail"] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(255,220,220,1), rgba(255,220,220,1) 11px, rgba(255,255,220,1) 10px, rgba(255,255,220,1) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}

@-webkit-keyframes mol_view_show {
	from {
		opacity: 0;
	}
}

@keyframes mol_view_show {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes mol_view_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

@keyframes mol_view_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

[mol_view] {
	-webkit-animation: mol_view_show .25s ease-in;
	        animation: mol_view_show .25s ease-in;
}

[mol_view_error="wait"] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(0,0,255,.05), rgba(0,0,255,.05) 11px, rgba(255,255,255,.02) 10px, rgba(255,255,255,.02) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
	background-size: 28px 28px !important;
	-webkit-animation: mol_view_show 1s linear , mol_view_error_move .25s linear infinite !important;
	        animation: mol_view_show 1s linear , mol_view_error_move .25s linear infinite !important;
}

[mol_scroller] {
	overflow: auto;
	overflow: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	-webkit-align-self: stretch;
	    -ms-flex-item-align: stretch;
	        align-self: stretch;
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
	will-change: scroll-position;
}

@media print {

	[mol_scroller] {
		overflow: visible;
	}
}

[mol_scroller]::-webkit-scrollbar {
	width: 2vmin;
	height: 2vmin;
	max-width: 10px;
	max-height: 10px;
}

[mol_scroller]::-webkit-scrollbar-track {
	background: #eee;
}

[mol_scroller]::-webkit-scrollbar-thumb {
	background: #999;
}

[mol_scroller_contenter] > * {
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}

[mol_scroller_overflowTop="true"] {
	box-shadow: inset 0 4px 8px -4px;
}

[mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 -4px 8px -4px;
}

[mol_scroller_overflowTop="true"][mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 4px 8px -4px , inset 0 -4px 8px -4px;
}

[mol_rower] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	        align-content: flex-start;
}

[mol_clicker] {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
	-webkit-box-flex: 0.001;
	-webkit-flex: 0.001 0.001 auto;
	    -ms-flex: 0.001 0.001 auto;
	        flex: 0.001 0.001 auto;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	vertical-align: middle;
	padding: 8px;
	padding: .5rem;
	margin: 0 1px 1px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #FFFFFF;
	background: rgba( 255 , 255 , 255 , .2 );
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

[mol_clicker]:hover {
	outline-color: #000000;
	outline-color: rgba( 0 , 0 , 0 , .2 );
	/*background: rgba( 255 , 255 , 255 , .3 );*/
}

[mol_clicker_type="major"] {
	background: #00FF00;
	background: rgba( 0 , 255 , 0 , .2 );
}

[mol_clicker_type="major"]:hover {
	background: #00FF00;
	background: rgba( 0 , 255 , 0 , .3 );
}

[mol_clicker_type="warn"] {
	background: #FF0000;
	background: rgba( 255 , 0 , 0 , .2 );
}

[mol_clicker_type="warn"]:hover {
	background: #FF0000;
	background: rgba( 255 , 0 , 0 , .3 );
}

[mol_checker] {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
}

[mol_checker]:before {
	content: '✔';
}

[mol_checker]:not(:empty):before {
	padding-right: .5vmin;
}

[mol_checker_checked="false"]:before {
	opacity: .25;
}

[mol_stringer] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	border: none;
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
	white-space: nowrap;
	overflow: hidden;
	padding: 8px;
	padding: .5rem;
	text-align: left;
	position: relative;
	z-index: 0;
	background: #FFFFFF;
	background: rgba( 255 , 255 , 255 , .2 );
	margin: 0 1px 1px 0;
	font: inherit;
	-webkit-box-flex: 1000;
	-webkit-flex: 1000 1000 10em;
	    -ms-flex: 1000 1000 10em;
	        flex: 1000 1000 10em;
	-webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	        align-self: auto;
}

[mol_stringer]:hover ,
[mol_stringer]:focus {
	outline-color: #000000;
	outline-color: rgba( 0 , 0 , 0 , .3 );
	outline-offset: 0;
	background: white;
}

[mol_stringer]:empty:before {
	content: attr( mol_stringer_hint );
	display: inline;
	color: #000000;
	color: rgba( 0 , 0 , 0 , .25 );
	position: relative;
	z-index: -1;
}

[mol_lister] {
	will-change: contents;
}

[mol_linker] {
	cursor: pointer;
	text-decoration: inherit;
	color: inherit;
	margin: .25em;
}

[mol_linker]:focus {
	outline: none;
}

[mol_linker]:hover {
	text-decoration: underline;
}

[mol_linker_current="true"] {
	font-weight: bold;
}

[mol_app_todo] {
	margin: 0;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

[mol_app_todo_allcompleter] {
	outline: none;
	padding: 0;
	width: 32px;
	width: 2rem;
	height: 32px;
	height: 2rem;
	margin: 8px;
	margin: .5rem;
}

[mol_app_todo_allcompleter]:before {
	content: '❯';
	-webkit-transform: rotate( 90deg );
	        transform: rotate( 90deg );
}

[mol_scroller_adder] {
	padding: 16px;
	padding: 1rem;
	outline: none;
}

[mol_app_todo_task_view_row] {
	outline: 1px solid #ededed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

[mol_app_todo_task_view_row_completer] {
	border-radius: 10rem;
	outline: none;
	border: 1px solid #ddd;
	padding: 0;
	width: 32px;
	width: 2rem;
	height: 32px;
	height: 2rem;
	margin: 8px;
	margin: .5rem;
}

[mol_app_todo_task_view_row_completer]:hover {
	border-color: #aaa;
}

[mol_app_todo_task_view_row_title] {
	padding: 16px;
	padding: 1rem;
	outline: none;
}

[mol_app_todo_task_view_row_dropper] {
	padding: 16px;
	padding: 1rem;
	outline: none;
}

[mol_app_todo_panel] {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 544px;
	max-width: 34rem;
	background: white;
}

[mol_app_todo_header] {
	font-size: 24px;
	font-size: 1.5rem;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	outline: 1px solid #ededed;
}

[mol_app_todo_bodier] {
	font-size: 24px;
	font-size: 1.5rem;
}

[mol_app_todo_titler] {
	padding: 16px;
	padding: 1rem;
	font-size: 96px;
	font-size: 6rem;
	font-weight: 100;
	text-align: center;
	color: #AF2F2F;
	color: rgba(175, 47, 47, 0.15);
	text-rendering: optimizeLegibility;
}

[mol_app_todo_task_view_row_completed="true"] [mol_app_todo_task_view_row_title] {
	color: #a9a9a9;
	text-decoration: line-through;
}

[mol_app_todo_task_view_row]:not(:hover) [mol_app_todo_task_view_row_dropper] {
	display: none;
}

[mol_app_todo_footer] {
	color: #777;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 13px;
	font-size: .85rem;
	outline: 1px solid #ededed;
	padding: 8px;
	padding: .5rem;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

[mol_app_todo_pendinger] {
	padding: 8px;
	padding: .5rem;
}

[mol_app_todo_pendingCounter] {
	margin: 0 3px;
	margin: 0 .2rem;
	font-weight: bold;
	display: inline;
}

[mol_app_todo_filter] {
	padding: 8px;
	padding: .5rem;
}

[mol_app_todo_sanitizer] {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
}

[mol_app_todo_ghost_visible="false"] {
	visibility: hidden;
}

[mol_app_todo_footer][mol_app_todo_ghost_visible="false"] {
	display: none;
}

/*# sourceMappingURL=index.env=web.stage=release.css.map */