[mol_panel] {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: inherit;
}

[mol_panel_header] ,
[mol_panel_footer] {
    overflow: auto;
    background: rgba(255,255,255,.9);
    max-height: 40%;
    outline: 1px solid rgba(0,0,0,.2);
    position: relative;
    z-index: 1;
    display: flex;
}

[mol_panel_bodier] {
    flex: 1;
    background: white;
    position: relative;
}

[mol_panel_bodier_overflowTop="true"] {
    box-shadow: inset 0 4px 8px -4px;
}

[mol_panel_bodier_overflowBottom="true"] {
    box-shadow: inset 0 -4px 8px -4px;
}