[mol_view_error="fail"] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(255,220,220,1), rgba(255,220,220,1) 11px, rgba(255,255,220,1) 10px, rgba(255,255,220,1) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}

@-webkit-keyframes mol_view_show {
	from {
		opacity: 0;
	}
}

@keyframes mol_view_show {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes mol_view_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

@keyframes mol_view_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

[mol_view] {
	-webkit-animation: mol_view_show .25s ease-in;
	        animation: mol_view_show .25s ease-in;
}

[mol_view_error="wait"] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(0,0,255,.05), rgba(0,0,255,.05) 11px, rgba(255,255,255,.02) 10px, rgba(255,255,255,.02) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
	background-size: 28px 28px !important;
	-webkit-animation: mol_view_show 1s linear , mol_view_error_move .25s linear infinite !important;
	        animation: mol_view_show 1s linear , mol_view_error_move .25s linear infinite !important;
}

[mol_rower] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	        align-content: flex-start;
}

[mol_filler] {
	text-align: left;
}

[mol_scroller] {
	overflow: auto;
	overflow: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	-webkit-align-self: stretch;
	    -ms-flex-item-align: stretch;
	        align-self: stretch;
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
}

@media print {

	[mol_scroller] {
		overflow: visible;
	}
}

[mol_scroller]::-webkit-scrollbar {
	width: 2vmin;
	height: 2vmin;
	max-width: 10px;
	max-height: 10px;
}

[mol_scroller]::-webkit-scrollbar-track {
	background: #eee;
}

[mol_scroller]::-webkit-scrollbar-thumb {
	background: #999;
}

[mol_scroller_contenter] > * {
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}

[mol_scroller_overflowTop="true"] {
	box-shadow: inset 0 4px 8px -4px;
}

[mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 -4px 8px -4px;
}

[mol_scroller_overflowTop="true"][mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 4px 8px -4px , inset 0 -4px 8px -4px;
}

[mol_floater] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

[mol_floater_floatingHor="true"] {
	box-shadow: 3px 0px 3px 0px rgba(0,0,0,.5);
	position: relative;
	z-index: 1;
}

[mol_floater_floatingVert="true"] {
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,.5);
	position: relative;
	z-index: 2;
}

[mol_floater_floatingHor="true"][mol_floater_floatingVert="true"] {
	z-index: 3;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.5);
}

[mol_stringer] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	border: none;
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
	white-space: nowrap;
	overflow: hidden;
	padding: 1vmin;
	text-align: left;
	position: relative;
	z-index: 0;
	background: #FFFFFF;
	background: rgba( 255 , 255 , 255 , .2 );
	margin: 0 1px 1px 0;
	font: inherit;
	-webkit-box-flex: 1000;
	-webkit-flex: 1000 1000 10em;
	    -ms-flex: 1000 1000 10em;
	        flex: 1000 1000 10em;
	-webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	        align-self: auto;
}

[mol_stringer]:hover ,
[mol_stringer]:focus {
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .3 );
	outline-offset: 0;
	background: white;
}

[mol_stringer]:empty:before {
	content: attr( mol_stringer_hint );
	display: inline;
	color: #000000;
	color: rgba( 0 , 0 , 0 , .25 );
	position: relative;
	z-index: -1;
}

[mol_number] {
	text-align: right;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;

	/*flex: 1 1 auto;*/
}

/*[mol_number]::-webkit-outer-spin-button,
[mol_number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}*/

[mol_clicker] {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
	-webkit-box-flex: 0.001;
	-webkit-flex: 0.001 0.001 auto;
	    -ms-flex: 0.001 0.001 auto;
	        flex: 0.001 0.001 auto;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	vertical-align: middle;
	padding: 1vmin;
	margin: 0 1px 1px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #FFFFFF;
	background: rgba( 255 , 255 , 255 , .2 );
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

[mol_clicker]:hover {
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .2 );

	/*background: rgba( 255 , 255 , 255 , .3 );*/
}

[mol_clicker_type="major"] {
	background: #00FF00;
	background: rgba( 0 , 255 , 0 , .2 );
}

[mol_clicker_type="major"]:hover {
	background: #00FF00;
	background: rgba( 0 , 255 , 0 , .3 );
}

[mol_clicker_type="warn"] {
	background: #FF0000;
	background: rgba( 255 , 0 , 0 , .2 );
}

[mol_clicker_type="warn"]:hover {
	background: #FF0000;
	background: rgba( 255 , 0 , 0 , .3 );
}

[mol_checker] {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
}

[mol_checker]:before {
	content: '✔';
}

[mol_checker]:not(:empty):before {
	padding-right: .5vmin;
}

[mol_checker_checked="false"]:before {
	opacity: .25;
}

[mol_tabler] {
	width: 100%;
	max-height: 100%;
	background: inherit;
}

[mol_tabler_lister] {
	margin: auto;
	display: table;
	border-spacing: 1px;
	background: inherit;
}

[mol_tabler_lister] > * {
	display: table-row;
	background: inherit;
}

[mol_tabler_lister] > * > * {
	white-space: nowrap;
	display: table-cell;
	background: rgba(255,255,255,1);
}

[mol_tabler_lister] > *:nth-child(odd) > * {
	background: #FFFFFF;
	background: rgba(255,255,255,.95);
}

[mol_app_calc_lister] {
	margin: 0;
}

[mol_app_calc_header] {
	text-align: center;
	vertical-align: middle;
	padding: .2vmin .5vmin;
	outline: 1px solid #000000;
	outline: 1px solid rgba(0,0,0,.2);
}

[mol_app_calc_cell] {
	min-width: 3em;
}

[mol_app_calc_cell]:not([mol_app_calc_cell_result=""]):not(:focus):not(:empty):after {
	content: attr( mol_app_calc_cell_result );
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: white;
	position: relative;
	margin-top: -1.25em;
}

/*# sourceMappingURL=index.env=web.stage=test.css.map */