[mol_view_error] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(255,220,220,1), rgba(255,220,220,1) 11px, rgba(255,255,220,1) 10px, rgba(255,255,220,1) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}

@-webkit-keyframes mol_view_show {
	from {
		opacity: 0;
	}
}

@keyframes mol_view_show {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes mol_view_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

@keyframes mol_view_error_move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 28px 0;
  }
}

[mol_view] {
	-webkit-animation: mol_view_show .25s ease-in;
	        animation: mol_view_show .25s ease-in;
}

[mol_view_error="Wait..."] {
	background-image: -webkit-repeating-linear-gradient(45deg, rgba(0,0,255,.05), rgba(0,0,255,.05) 11px, rgba(255,255,255,.02) 10px, rgba(255,255,255,.02) 20px) !important;
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
	background-size: 28px 28px !important;
	-webkit-animation: mol_view_show 1s linear , mol_view_error_move .25s linear infinite !important;
	        animation: mol_view_show 1s linear , mol_view_error_move .25s linear infinite !important;
	pointer-events: none;
}

[mol_scroller] {
	overflow: auto;
	overflow: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	-webkit-align-self: stretch;
	    -ms-flex-item-align: stretch;
	        align-self: stretch;
	outline: 1px solid #000000;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
	/*transform: translateZ(0); /* speed up scroll with large dom, but speed down dom modifications */
	will-change: scroll-position;
}

@media print {

	[mol_scroller] {
		overflow: visible;
	}
}

[mol_scroller]::-webkit-scrollbar {
	width: 2vmin;
	height: 2vmin;
	max-width: 10px;
	max-height: 10px;
}

[mol_scroller]::-webkit-scrollbar-track {
	background: #eee;
}

[mol_scroller]::-webkit-scrollbar-thumb {
	background: #999;
}

[mol_scroller_overflowTop="true"] {
	box-shadow: inset 0 4px 8px -4px;
}

[mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 -4px 8px -4px;
}

[mol_scroller_overflowTop="true"][mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 4px 8px -4px , inset 0 -4px 8px -4px;
}

[mol_tiler] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

[mol_tiler] > * {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 51%;
	    -ms-flex: 1 1 51%;
	        flex: 1 1 51%;
}

[mol_grapher_liner] {
	stroke-width: 3;
	fill: none;
}

[mol_grapher_liner_roper]:hover {
	stroke: darkblue;
}

[mol_grapher_liner_knoter]:hover {
	stroke: darkblue;
}

[mol_plotter] {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

[mol_plotter_grid] {
	position: absolute;
	left: 0;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

[mol_plotter_grid_labeler] {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 3em;
	    -ms-flex: 0 1 3em;
	        flex: 0 1 3em;
	text-align: right;
	margin: -.5em .5em;
}

[mol_plotter_grid_liner] {
	border-top: 1px solid #CBCACB;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

[mol_plotter_svg] {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	position: relative;
	margin-left: 4em;
}

[mol_chart] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 50vmin;
	    -ms-flex: 1 1 50vmin;
	        flex: 1 1 50vmin;
}

[mol_chart_titler] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-weight: bold;
	padding: .5em;
}

[mol_chart_plotter] {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	height: 25vmin;
}

[mol_chart_legender] {
	padding: .5em;
	margin-left: 4em;
}

[mol_chart_legender_info] {
	display: table-row;
}

[mol_chart_legender_info] > * {
	display: table-cell;
	padding: .25em;
}

[mol_chart_legender_info_sampler] {
	background: #C57995;
	padding: .5em;
}

[mol_chart_legender_info]:nth-of-type(2) [mol_chart_legender_info_sampler] {
	background: #7570C1;
}

[mol_chart_legender_info_titler] {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

[mol_grapher_barer] {
	stroke-width: 2.5%;
	fill: none;
}

[mol_grapher_barer_piler] {}

[mol_grapher_barer_piler]:hover {
	stroke: darkblue;
}

[mol_app_chart] {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
}

[mol_app_chart_header] {
	background: #3A5C86;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 5%;
	    -ms-flex: 0 0 5%;
	        flex: 0 0 5%;
	margin: 0;
	padding: .5em;
	color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

[mol_app_chart_bodier] {
	padding: 2vmin;
}

[mol_app_chart_charter] {
	margin: 2vmin;
}

/*# sourceMappingURL=index.env=web.stage=release.css.map */